.header {
    height: 77px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    align-items: center;
    justify-items: auto;

    &__wrapper {
        background: radial-gradient(79.43% 79.43% at 49.95% 64.07%, #024584 0%, #0B233D 100%);
    }

    &__nav {
        grid-column: span 7;
    }

    &__navList {
        gap: 80px;
        justify-content: flex-start;

        @media (max-width: 1024px) {
            gap: 24px;
        }
    }

    &__navItem {       
        color: #fff;
        text-transform: uppercase;
        transition: all 0.2s ease;
        
        &:hover {
            font-weight: 600;
        }

        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }

    &__container {
        grid-column: span 5;
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        width: 195px;

        @media (max-width: 1024px) {
            width: 133px;
        }
    }

    &__icons {
        width: 210px;

         @media (max-width: 1024px) {
            width: 120px;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        height: 72px;
    }
}