# Ignore artifacts:
build
dist
coverage

# Ignore package files:
package.json
package-lock.json
yarn.lock

# Ignore dependencies:
node_modules

# Ignore version control directories:
**/.git
**/.svn
**/.hg

# Ignore Next.js build output:
.next

# Ignore cache:
.cache

# Ignore public files:
public

# Ignore all HTML files:
**/*.html