.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    height: 60px;

    &__wrapper {
        background: radial-gradient(79.43% 79.43% at 49.95% 64.07%, #024584 0%, #0B233D 100%);
    }

    &__logo {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;

        & a {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__searchWrapper {
        flex-grow: 1;
    }

    &__iconButton {
        & a {
            display: flex;
        }
    }

}